<a href="https://colab.research.google.com/github/gohibi/eli/blob/eli/lab8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import scipy.stats as stats

Два преподавателя оценили знания 15 студентов по двум дисциплинам и выставили им оценки по сто балльной шкале.
Найти коэффициент ранговой корреляции Спирмена и Кендалла, оценить значимость.

In [ ]:
sample=pd.DataFrame([(96,46),(60,76),(74,53),(88,98),(99,61),(79,78),(72,49),(47,72),(83,53),(47,53),(93,52)],
                    columns=["Дисциплина 1","Дисциплина 2"])
sample.index +=1
sample

    Дисциплина 1  Дисциплина 2
1             96            46
2             60            76
3             74            53
4             88            98
5             99            61
6             79            78
7             72            49
8             47            72
9             83            53
10            47            53
11            93            52

In [ ]:
rank_1 = sample['Дисциплина 1'].sort_values(ascending=False)
rank_1

5     99
1     96
11    93
4     88
9     83
6     79
3     74
7     72
2     60
10    47
8     47
Name: Дисциплина 1, dtype: int64

In [ ]:
rank_2 = sample['Дисциплина 2'].sort_values(ascending=False)
rank_2

4     98
6     78
2     76
8     72
5     61
10    53
9     53
3     53
11    52
7     49
1     46
Name: Дисциплина 2, dtype: int64

In [ ]:
rank=pd.DataFrame([(5,4),(1,6),(11,2),(4,8),(9,5),(6,10),(3,9),(7,3),(2,11),(10,7),(8,1)],
                  columns=["xi","yi"] )
rank.style.hide_index()

Расчет коэффициента ранговой корреляции Спирмена. Проверка значимости

In [ ]:
calc = [(rank.loc[i,'xi']- rank.loc[i,'yi'])**2 for i in range(len(rank)) ]
calc

[1, 25, 81, 16, 16, 16, 36, 16, 81, 9, 49]

In [ ]:
Sum_d_2= sum(calc)
Sum_d_2

346

Коэффициент ранговой корреляции Спирмена:

In [ ]:
n=len(sample)
n

11

In [ ]:
pi_B=round(abs(1-((6*Sum_d_2)/(np.power(n,3)-n))),5)
pi_B
#p=stats.spearmanr(rank['xi'],rank['yi'])

0.57273

Проверка значимости коэффициента ранговой корреляции Спирмена:

In [ ]:
tk=stats.t.ppf(0.05,n-2)
res=np.sqrt((1-pi_B)/(n-2))
Tkp = round(tk * res,5)

In [ ]:
print("tk = %0.5f \n"%tk)
print("Tkp = %0.5f \n"%Tkp)

tk = -1.83311

Tkp = -0.39941

In [ ]:
if pi_B < Tkp :
  print(f"{pi_B} < {Tkp} нет оснований отвергнуть нулевую гипотезу. Ранговая корреляционная связь между качественными признаками не значима")
else:
  print(f"{pi_B} > {Tkp}\nнулевая гипотеза о равенстве генерального коэффициента ранговой корреляции Спирмена нулю не принимается.")
  print("Между качественными признаками существует значимая ранговая корреляционная связь")

0.57273 > -0.39941
нулевая гипотеза о равенстве генерального коэффициента ранговой корреляции Спирмена нулю не принимается.
Между качественными признаками существует значимая ранговая корреляционная связь

Расчет коэффициента ранговой корреляции Кендалла. Проверка значимости.

In [ ]:
rank=pd.DataFrame([(5,4),(1,6),(11,2),(4,8),(9,5),(6,10),(3,9),(7,3),(2,11),(10,7),(8,1)],
                  columns=["xi","yi"] )
rank.style.hide_index()

In [ ]:
R=[7,5,7,3,4,1,1,2]
R=sum(R)
R

30

In [ ]:
to=abs(((4*R)/(n*(n-1)))-1)
print("to = %0.3f"%to)

to = 0.091

Значимость коэффициента ранговой корреляции Кендалла:

In [ ]:
Zkp=1.96
Tkp_ken=Zkp*np.sqrt((2*(2*n+5))/(9*n*(n-1)))

In [ ]:
if to < Tkp_ken :
  print(f"{round(to,4)} < {round(Tkp_ken,4)} нет оснований отвергнуть нулевую гипотезу. Ранговая корреляционная связь между качественными признаками не значимаа")
else:
  print(f"{round(to,4)} > {round(Tkp_ken,4)}\нулевую гипотезу отвергают. Между качественными признаками существует значимая ранговая корреляционная связь.")

0.0909 < 0.4578 нет оснований отвергнуть нулевую гипотезу. Ранговая корреляционная связь между качественными признаками не значимаа